In [1]:
import pandas as pd

In [36]:
sales = {
    1: 12_000_000, 
    2: 11_500_000,
    3: 11_000_000,
    4: 10_500_000,
    5: 10_000_000,
    6: 9_500_000,
    7: 9_000_000,
    8: 8_500_000,
    9: 8_000_000
    }

data = pd.Series(sales, name="Sales")

data.index.name = "Store"
data = data.reset_index()

In [38]:
data['Sales'].sum()

90000000

In [41]:
data['Sales']*1.1

0    13200000.0
1    12650000.0
2    12100000.0
3    11550000.0
4    11000000.0
5    10450000.0
6     9900000.0
7     9350000.0
8     8800000.0
Name: Sales, dtype: float64

In [42]:
data['Sales'].mean()

10000000.0

In [45]:
diffs = data['Sales'] - data['Sales'].mean()
diffs

0    2000000.0
1    1500000.0
2    1000000.0
3     500000.0
4          0.0
5    -500000.0
6   -1000000.0
7   -1500000.0
8   -2000000.0
Name: Sales, dtype: float64

In [46]:
diffs_sq = diffs**2
diffs_sq

0    4.000000e+12
1    2.250000e+12
2    1.000000e+12
3    2.500000e+11
4    0.000000e+00
5    2.500000e+11
6    1.000000e+12
7    2.250000e+12
8    4.000000e+12
Name: Sales, dtype: float64

In [49]:
total_ss = sum(diffs_sq)
total_ss

15000000000000.0

In [59]:
props = diffs_sq/total_ss
props

0    0.266667
1    0.150000
2    0.066667
3    0.016667
4    0.000000
5    0.016667
6    0.066667
7    0.150000
8    0.266667
Name: Sales, dtype: float64

In [60]:
props[4:] = -props[4:]
props

0    0.266667
1    0.150000
2    0.066667
3    0.016667
4   -0.000000
5   -0.016667
6   -0.066667
7   -0.150000
8   -0.266667
Name: Sales, dtype: float64

In [62]:
growth = (1+props) * .10
growth

0    0.126667
1    0.115000
2    0.106667
3    0.101667
4    0.100000
5    0.098333
6    0.093333
7    0.085000
8    0.073333
Name: Sales, dtype: float64

In [73]:
targets = data["Sales"] * (1+growth)
targets

0    1.352000e+07
1    1.282250e+07
2    1.217333e+07
3    1.156750e+07
4    1.100000e+07
5    1.043417e+07
6    9.840000e+06
7    9.222500e+06
8    8.586667e+06
Name: Sales, dtype: float64

In [75]:
targets.sum()

99166666.66666667